body {
  background: #262A2E;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.head header{
  background: #1B1E21;
  height: 62px;
  display: flex; /* Включаем режим Flexbox. */
}

.head p {
  font-size: 25px;
  line-height: 50%;
  width: 81px;
  height: 29px;
  padding-left: 122px;
}

.head2 header{
  background: #1B1E21;
  height: 62px;
  display: flex; /* Включаем режим Flexbox. */
  justify-content: space-between;
}

.head2 p {
  font-size: 25px;
  line-height: 50%;
  width: 81px;
  height: 29px;
  padding-left: 122px;
}

.back {
  width: 67px;
  height: 40px;
  margin-right: 122px;
  margin-top: 11px;
  background: #303539;
  border-radius: 5px;
}

.back a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  margin-left: 5px;
  line-height: 150%;
}

.main {
  display: flex;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 40px;
  justify-content: space-around;
}

.image img {
  width: 250px;
  height: 350px;
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;
}

.display-none {
  display: none;
}

.more {
  display: block;
  width: 119px;
  height: 39px;
  background: #299DED;
  position: absolute;
  border-radius: 5px;
  margin-left: 64px;
  margin-top: 280px;
}

.more2{
  color: #303539;
  font-size: 25px;
  font-weight: bold;
  margin-left: 30px;
  line-height: 150%;
  text-decoration: none;
}

.more4 {
  display: block;
  position: absolute;
  font-weight: bold;
  margin-left: 110px;
}